.myCanvas {
    /* The image used */
    /*background-image: url("../../../assets/image/flr_map.jpg");*/

    /* Full height */
    height: 100vh; 
    /*background-color: black;*/
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    border: 1px ;
}

.big-box {
  display: inline-block;
  margin: 15px;
  color: black;
  border: 5px solid black !important;
}
.small-box{
  display: inline-block;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 15px;
  color: black;
  border: 5px solid black !important;
}
.medium-box{
	display: inline-block;
	margin:60px 20px 20px 60px;
}
.StatusGrey{
	background-color : #b1adad;
}
.StatusGreen{
	background-color : #9dd69d;
}
.mineWorker{
    width: 200px;
    padding: 10px 20px;
    margin-left: 60px;
}
.Worker-size{
  width: 60%;
}
.flaticon-worker{
  display: inline-block;
  align-items: center;
  margin: 55px;
  color: black;
}
.col{
  height: 503px;
}