<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a [routerLink]="['track-workers']" [routerLinkActive]="['active']">TRACK WORKERS <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['track-assets']" [routerLinkActive]="['active']">TRACK ASSETS</a>
      </li>
    </ul>
  </div>
</nav>
</div>

<router-outlet></router-outlet>
