.container{
	margin-left: 15%;
	position: relative;
	background-color: #5d5959;
}
.nav{
	background-color:  #5d5959
}

.navbar-nav>li>a{
	color:white;
	padding: 15px;
}
.navbar-nav>li:active{
	background-color: darkgrey;
}