.msgbox {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    height: auto;
    overflow: -webkit-paged-x;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 50%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    /*float: right;*/
    color: #aaa;
}
.chat-right{
    float:right;
}

.time-left {
    float: left;
    color: #999;
}
.chat-window{
/*    width: 30%;
    float: right;*/
}
.main-chatbox{
    background:#b8dee8;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    max-height: 50%;
}
.fa {
font-size: 30px;
float: right;
padding-left:500px;
}
.btn-info{
    padding: 10px;
}