
 <!-- <div class="wrapper"> -->
    <!-- Sidebar -->
    <div id="main-container">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 class="heading">Workers Safety Solution</h3>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="sidebarLi">
                <a [routerLink]="['location-change-info']" [routerLinkActive]="['active']" data-toggle="collapse" aria-expanded="false" >Location Info</a>
            </li>

            <li>
                <a [routerLink]="['task-allocation']" [routerLinkActive]="['active']" data-toggle="collapse" aria-expanded="false">Task Allocation</a>
            </li>
        </ul>
    </nav>
<!--  	<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" (click) = "toggleNav()" class="btn btn-info">
                <i class="fa fa-align-left" ></i>
            </button>
        </div>
    </nav>
</div> -->
</div>